legend
{
  font-weight: bold;
  color: #a8a8a8;
}

label{
  color: #a8a8a8;
}

#filedrag
{
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #a8a8a8;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;
}

#filedrag.hover
{
  color: #f00;
  border-color: #f00;
  border-style: solid;
  box-shadow: inset 0 3px 4px #888;
}

#messages
{
  padding: 0 10px;
  margin: 1em 0;
  border: 1px solid #999;
}

p {
  color: #888888;
}

h2 {
  color: #a8a8a8;
}

input[type=file].stylebutton::-webkit-file-upload-button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display:inline-block;
  padding:8 12px;
  height:28px;
  color:#ffffff;
  text-align:center;
  text-decoration:none;
  font-weight:500;
  font-size:14px;
  line-height:28px;
  cursor:default;
  margin-top:10px;
  overflow:hidden;
  outline:none;
  border: 1px solid transparent;
  background:#474949;
  text-shadow:none;
  -webkit-appearance:none;
  -webkit-border-radius:14px;
  -moz-border-radius:14px;
  border-radius:4px;
  margin-top:0;
  vertical-align: middle; 
}

textarea {
    resize: none;
    background:#e0e0e0;
}
input{
    background:#e0e0e0;
}
